.table_sort {
    display: flex;
    justify-content: center;
    margin: 10px;
}
#project_table {
    margin-top: 10px;
}

.form_sort {
    padding-right: 5px;

}

.form_add {
    padding-right: 15px;
    margin-left: 15px;
    width: 75%;

}

h2 {
    margin-left: 10px;
}

#form_submit {
    margin-top: 10px;
}

.add_task {
    margin-left: 20px;
    width: 75%;

}
.radio_filter {
    margin-right: 15px;
}
.task_form {
    margin-bottom:150px;
    padding-bottom: 100px;
}