{% extends 'base.html' %}

{% block page_title %}

{% endblock %}

{% block content %}
<h1>Project Manager Home</h1>

<br>
<br>
<center><h2>Project Info</h2></center>
<section id="project">
    <div class="home">
        <center>
        <h3> # Planning - Projects</h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # Ready - Projects</h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # Active - Projects</h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # On-Hold - Projects</h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # Completed - Projects</h3>
        <p> </p>
        </center>
    </div>
</section>
<br>
<br>
<center><h2>Task Info</h2></center>
<section id="task">
    <div class="home">
        <center>
        <h3> # Planning</h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # Ready </h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # Active </h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # Completed </h3>
        <p> </p>
        </center>
    </div>
    <div class="home">
        <center>
        <h3> # On-hold </h3>
        <p> </p>
        </center>
    </div>
</section>
{% endblock %}