{% extends 'base.html' %}
{% load static %}

 {% block css_files %}
        <link rel="stylesheet" href="{% static "project/project.css" %}">
  {% endblock %}
{% block page_title %}

{% endblock %}

{% block content %}

<h2>Schedule Edit Task</h2>

{% if submitted %}
    Your task was submitted was sucessfully
{% else %}


    <form class="add_task" action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <br>

        <input type="submit" value="Submit" class="btn btn-success" name="submit_form">
        <input type="submit" value="Copy" class="btn btn-secondary" name="copy_task">

    </form>

{% endif %}


{% endblock %}