<!DOCTYPE html>
<html>

<head>
    <style>
        header {


    }
    #description {
        border: 2px solid;


    }
    #assay {
        border: 2px solid;


    }
    ul{
       list-style-type: none;
    }

    </style>
<center>
<h1>Task Request Form</h1>
</center>
</head>
<body>
<header>
  <img src="static/images/core-logo.png">
    <br>
  <ul>
      <li>Start Date______{{ task.task_start_date }}</li>
      <li>End Date_______{{ task.task_end_date }}</li>
      <li>Project_________{{ pm_name }}</li>
      <li>Project #_______{{ task.project }} </li>
      <li>PAN # _________{{ task.task_pan }}</li>
      <li><h3>Task Name______{{ task.task_name }}</h3> </li>
  </ul>

</header>
__________________________________________________________________________________________________________
<section id="description" >
    <center> Description</center>
    {{ task.task_description|linebreaksbr }}
</section>
<br>
___________________________________________________________________________________________________________
<section id="assay">
    <center>Assay Details</center>
</section>

</body>
</html>



