<!DOCTYPE html>
<html>

<head>
    <style>
        header {


    }
    #description {
        border: 2px solid;


    }
    #assay {
        border: 2px solid;


    }
    ul{
       list-style-type: none;
    }

    </style>
<center>
<h1>Task Request Form</h1>
</center>
</head>
<body>
<header>
  <img src="static/images/core-logo.png">
    <br>
    <br>
  <ul>
      <li>Start Date___{{ task.task_start_date }}_______End Date_______{{ task.task_end_date }}</li>
      <li>Project_________{{ pm_name }}_______Project #_______{{ task.project }}</li>
      <li>PAN # _________{{ task.task_pan }}</li>
      <li><h3>Task Name______{{ task.task_name }}</h3> </li>
  </ul>


</header>
__________________________________________________________________________________________________________
<section id="description" >
    <center> Description</center>
    {{ task.task_description|linebreaksbr }}
</section>
<br>
___________________________________________________________________________________________________________
<section id="assay">
    <center>Assay Details</center>
</section>
    <ul>
        <li>Pulverise Required _________{{ task.task_pulverise }}</li>
        <li>Assay Lab Location _________{{ task.task_assay_loc }}</li>
        <li>Assay Method Details ________{{ task.assay_method|linebreaksbr }}</li>
    </ul>

</body>
</html>



