<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TESTING</title>
  <style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 2px solid;
        padding-right: 50px;
    }
    #description {
        border: 2px solid;
        min-height: 400px;

    }
    #assay {
        border: 2px solid;
        min-height: 250px;

    }
  </style>
</head>
<body>
<header>
  <img src="static/images/core-logo.png">
  <ul type="none">
                <li>Start Date</li>
                <li>End Date </li>
                <li>Project</li>
                <li>Project # </li>
                <li>PAN # </li>
                <li>Task Name </li>
            </ul>
  <ul type="none">
    <li> task.task_start_date </li>
    <li>task.task_end_date</li>
    <li>Manager Some Nut</li>
    <li>task.project</li>
    <li>task.task_pan</li>
    <li>task.task_name</li>
  </ul>
</header>
<section id="description">
    <p>this is a description</p>
</section>
<section id="assay">
    <p>this is for assay</p>
</section>
</body>
</html>